<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>heartly.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2F31F40FB741C42BBA5DBD1420202493F69B3D33</string>
				<key>dateExpires</key>
				<string>2020/12/29</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ST52N25U9X.com.orz.meida</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ST52N25U9X</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>ST52N25U9X.com.orz.meida</string>
				</array>
			</dict>
			<key>name</key>
			<string>美哒.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>60941d39-76e9-414b-a612-7938c32eeb5e</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ST52N25U9X</string>
				<key>name</key>
				<string>Chun Zhou</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
